<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
<form action="/register" method="POST">
  <input type="text" placeholder="username" name="username">
  <input type="text" placeholder="password" name="password">
  <button type="submit">Register</button>
</form>
</body>
</html>